<style>
    body {
        font-family: 'Arial', sans-serif; /* Ensure a clean, readable font */
        background-color: #f5f5f5; /* Light background for the rest of the site */
        color: #333; /* Dark color for text */
    }

    .about-us-section {
        background-color: #b7ac88;
        color: #ffffff; /* White text to contrast with the background */
        padding: 60px 20px; /* Spacing around the section */
        text-align: center; /* Center the text for a minimalistic look */
        position: relative; /* For positioning the clouds */
        overflow: hidden; /* Hide overflow for the clouds */
    }

    .about-us-section h2 {
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .about-us-section p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 auto;
        max-width: 800px; /* Restrict the width for better readability */
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }



</style>

<section id="about-us" class="about-us-section">
    <div class="container">
        <h2 style="margin-bottom: 0px;">Za Każdym Wspomnieniem Stoi Historia</h2>
        <span>Oto Nasza - poznaj nas lepiej</span>
        <p style="margin-top: 20px; text-align: justify;">
            Nasza historia zaczęła się od prostej idei – chcieliśmy ułatwić uczestnikom imprez dzielenie się zdjęciami w jednym, łatwo dostępnym miejscu.<br><br>
            Zainspirowani radością, jaką niesie wspólne przeżywanie chwil z rodzinnych spotkań i przyjacielskich uroczystości, stworzyliśmy platformę, która pozwala każdemu na dodawanie zdjęć z imprezy. <br><br>
            Od tamtej pory nieustannie rozwijamy naszą stronę, by dostarczać najnowocześniejsze i najbardziej przyjazne narzędzia do zachowywania i dzielenia się wspomnieniami.
        </p>
    </div>
</section>
