{% extends './base/page.html' %}

{% block title %}
    Zróbmy to razem!
{% endblock title %}

{% block extra_css %}
    <style>

    </style>
{% endblock extra_css %}

{% block header %}
    {% include './base/header.html' %}
{% endblock header %}


{% block content %}
    {% include 'main.html' %}
    {% include 'about_us.html' %}
    {% include 'products.html' %}
    {% include 'offer.html' %}
    {% include 'blog.html' %}

{% endblock content %}


{% block footer %}

{% endblock footer %}


{% block extra_js %}
    <script>
        var swiper = new Swiper(".blog-posts", {
            slidesPerView: 3,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
{% endblock extra_js %}
