{% load static %}
<style>
</style>

<section id="offer" class="w-100 d-flex flex-column align-items-center justify-content-center">
    <h3 class="allura-regular mb-0" style="padding-top: 80px; font-size: 60px;">Szczegóły <span class="text-gradient">naszej oferty</span></h3>
    <span class="allura-regular" style="font-size: 30px; margin-bottom: 80px;">Wartościowe produkty za niską cenę</span>

    <div class="offer d-flex justify-content-between align-items-center w-100">

    </div>

</section>
