{% load static %}
<style>
    #products {
        width: 100%;
        padding: 20px 0px;
    }
</style>

<section id="products" class="w-100 d-flex flex-column align-items-center">

    <div class="product d-flex justify-content-between align-items-center w-75">
        <img style="height: 400px;" src="{% static 'landingpage/img/invitation.png' %}" alt="zaproszenie online">
        <div style="height: 250px;" class="body d-flex flex-column justify-content-around w-50">
            <div class="title" style="font-size:24px; ">Zaproszenie Online</div>
            <span class="text" style="text-align: justify;">
                Pomagamy w wysłaniu zaproszeń online, do wszystkich gości na twojej imprezie. Jest to oszczędność czasu, pieniędzy oraz krok w stronę nowoczesności.
                W dodatku do zaproszeń dołączamy stronę związaną typowo z Twoją imprezą. Możesz tam dodać informacje na temat organizacji imprezy,
                w ten sposób goście będą na bieżąco.
            </span>
            <button class="d-flex text-gradient allura-regular" style="font-size: 30px; border:none; color: #f3b600">Sprawdź szczegóły</button>
        </div>

    </div>

    <div class="product d-flex justify-content-between align-items-center w-75">
        <div style="height: 250px;" class="body d-flex flex-column justify-content-around w-50">
            <div class="title" style="font-size:24px; ">Zdjęcia z imprezy</div>
            <span class="text" style="text-align: justify;">
                Pomagamy w wysłaniu zaproszeń online, do wszystkich gości na twojej imprezie. Jest to oszczędność czasu, pieniędzy oraz krok w stronę nowoczesności.
                W dodatku do zaproszeń dołączamy stronę związaną typowo z Twoją imprezą. Możesz tam dodać informacje na temat organizacji imprezy,
                w ten sposób goście będą na bieżąco.
            </span>
            <button class="d-flex text-gradient allura-regular" style="font-size: 30px; border:none; color: #f3b600">Sprawdź szczegóły</button>
        </div>
        <img style="height: 400px;" src="{% static 'landingpage/img/invitation.png' %}" alt="zaproszenie online">

    </div>

</section>
