{% load static %}
<style>
    #products {
        width: 100%;
        padding: 20px 0px;
    }
</style>

<section id="products" class="w-100 d-flex flex-column align-items-center">
    <h3 class="allura-regular mb-0" style="padding-top: 80px; font-size: 60px;">Znajdź <span class="text-gradient">idealne produkty</span> dla siebie</h3>
    <span class="allura-regular" style="font-size: 30px; margin-bottom: 80px;">Każdy produkt zrobiony z myślą o Tobie</span>

    <div class="product d-flex justify-content-between align-items-center w-100">
        <div class="d-flex justify-content-center align-items-center w-50">
            <img class="w-50" src="{% static 'landingpage/img/invitation.png' %}" alt="zaproszenie online">
            <img class="w-50" src="{% static 'landingpage/img/Patrycja.png' %}" alt="zaproszenie online">
        </div>
        <div style="height: 250px; padding: 0 10%;" class="body d-flex flex-column justify-content-around w-50">
            <div class="title" style="font-size:24px; ">Zaproszenie Online</div>
            <span class="text" style="text-align: justify;">
                Pomagamy w wysłaniu zaproszeń online, do wszystkich gości na twojej imprezie. Jest to oszczędność czasu, pieniędzy oraz krok w stronę nowoczesności.
                W dodatku do zaproszeń dołączamy stronę związaną typowo z Twoją imprezą. Możesz tam dodać informacje na temat organizacji imprezy,
                w ten sposób goście będą na bieżąco.
            </span>
            <button class="d-flex text-gradient allura-regular" style="font-size: 30px; border:none; color: #f3b600; font-weight: bold;">Sprawdź szczegóły</button>
        </div>

    </div>

    <div class="product d-flex justify-content-between align-items-center w-100">
        <div style="height: 250px; padding: 0 10%;" class="body d-flex flex-column justify-content-around w-50">
            <div class="title" style="font-size:24px; ">Zdjęcia z imprezy</div>
            <span class="text" style="text-align: justify;">
                Pomagamy w wysłaniu zaproszeń online, do wszystkich gości na twojej imprezie. Jest to oszczędność czasu, pieniędzy oraz krok w stronę nowoczesności.
                W dodatku do zaproszeń dołączamy stronę związaną typowo z Twoją imprezą. Możesz tam dodać informacje na temat organizacji imprezy,
                w ten sposób goście będą na bieżąco.
            </span>
            <button class="d-flex text-gradient allura-regular" style="font-size: 30px; border:none; color: #f3b600; font-weight: bold;">Sprawdź szczegóły</button>
        </div>
        <div class="d-flex justify-content-center align-items-center w-50">
            <img class="w-50" src="{% static 'landingpage/img/wedding-photo.jpg' %}" alt="zdjęcie z wesela">
            <img class="w-50" src="{% static 'landingpage/img/wedding-photo-2.jpg' %}" alt="zdjęcie z wesela">
        </div>
    </div>

</section>
