*, body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.text-gradient {
    background: linear-gradient(90deg, #b7ac88 0%, #f3b600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}